/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
  font-family: "Roboto", "Helvetica Neue", sans-serif; 
}

html {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/03/Old_Courthouse_Denton_TX.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

body {
  background: rgba(255, 255, 255, 0.5) !important;
}

#heading {
  height: 49%;
  width: 100%;
}

/* right div of the header. contains the weather things */
.weather-container {
  width: 39% !important;
  overflow: hidden;
  float: left;
  height: 95%;
  border-radius: 10px;
}

.location {
  font-size: 28px;
  margin-top: 3vh;
  margin-bottom: -2vh;
  width: 100%;
}

.current-temp {
  width: 53%;
  height: 40%;
  float: left;
  font-size: 90px !important;
  text-align: right;
  display: table-cell;
  vertical-align: middle;
}

.weather-icon {
  width: 45%;
  height: 40%;
  float: left;
  text-align: left;
  margin-left: -15px;
}

.weather-icon img {
  margin-left: auto;
  margin-right: auto;
}

.daily-hilow {
  width: 100%;
  height: 13%;
  overflow: hidden;
  float: left;
  font-size: 24px;
  text-align: center !important;
  background: rgba(180, 200, 238, .6);
  /* background: rgba(255, 255, 255, .4); */
  padding: 2% 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#aqi, #pollutant {
  width: 48.5%;
  height: 30%;
  float: left;
  font-size: 24px;
  line-height: 35px;
  background: rgba(180, 200, 238, .6);
  /* background: rgba(255, 255, 255, .4); */
  padding: 3% 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

 .divider-aqi {
  width: 3%;
  height:30%;
  float: left;
 }

/* left div of the header, contains date, time, and greeting */
.timedate {
  width: 60%;
  overflow: hidden;
  float: left;
  height: 100%;
  margin-left: 1%;
}

/* Greeting */
.timedate h1 {
  font-size: 70px;
  text-align: left;
  margin-bottom: 3vh;
  line-height: 60px;
}

.date {
 font-size: 24px;
 margin-top: 4vh;
 margin-bottom: 5vh;
}

.time {
  font-size: 36px;
  margin-bottom: 15vh;
}

/* News */
.table-row {
  width: 47% !important;
  overflow: hidden;
  float: left;
  height: 40%;
  background-color: #D3D3D3;
  border-radius: 10px;
  margin: 1%;
  padding-top: 1%;
  padding-left: 1%;
}

.news-info {
  width: 73%;
  font-size: 14px;
  overflow: hidden;
  float: left;
}

.news-qr {
  width: 25%;
  float: left;
  text-align: center;
}

#news-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* Main app grid */
#modules {
  height: 35%; 
  width: 100%;
}

.tile {
  font-size: 15px;
  height: 50%;
}

/* Size for the icons in the tiles */
.icons {
  font-size: 60px;
}

.divider-vertical {
  width: 1%;
  height: 50%;
  float: left;
}

.divider-horizontal {
  height: 1%;
  width: 100%;
  float: left;
}

#events, #news, #map, #survey, #transit {
  background: rgba(255, 255, 255, .7);
  color: black;
  overflow: hidden;
  float: left;
  text-align: center;
  /* border: 4px rgba(0, 0, 0, .6) solid; */
  box-shadow: 0px 0px 50px rgba(0,0,0,.6);
}

#events, #news {
  height: 45%;
  width: 24.2%;
}

#map, #survey, #transit {
  height: 45%;
  width: 49.5%;
}

.divider-weather {
  height: 3% !important;
  width: 100%;
  float: left;
}

/* If using a logo/icon, adjust height and font-size accordingly */
#footer {
  height: 7vw;
  width: 100%;
  margin-top: 3vh;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}

/* For using a logo/icon in your footer */
#footer img {
  max-width: 60px;
}